@charset "UTF-8";

/*typical device Breakpoints
Pequenas telas: atè 600px
Celular: de 600px atè 768px
Tablet: 768px atè 992px
Desktops:992px atè 1200px
Grandes telas: acima de 1200px
*/
@media screen and (min-width:768px) {
    i#burguer {
        display: none;
    }
    menu {
        display: block;
    }
}
* {
    font-family: Arial, Helvetica, sans-serif;

    margin: opx;
    padding: 0px;
}

body, html {
    background-color: lightgray; 
 }
 header {
    background-color: rgba(155, 153, 153, 0.955);
 }
 header > h1 {
     padding: 10px; 
     text-align: center;
 }